body {
    font-family: 'Segoe UI Light', 'Segoe UI', Segoe, Geneva, Tahoma, sans-serif;
}

h1>small {
    color: silver;
    font-size: 17px;
}

.header {
    height: 100px;
}

.title {
    width: 200px;
    float: left;
}

.user-name {
    float: right;
    font-weight: bold;
    font-style: italic;
}